
.vs/ECommerce/v15/.suo
.vs/ECommerce/v15/Server/sqlite3/storage.ide
.vs/ECommerce/v15/Server/sqlite3/storage.ide-shm
.vs/ECommerce/v15/Server/sqlite3/storage.ide-wal
ECommerce.Web/obj/Debug/ECommerce.Web.csproj.CoreCompileInputs.cache
*.ide
*.ide-shm
*.ide-wal
*.cache
.vs/ECommerce/v15/Server/sqlite3/storage.ide
.vs/ECommerce/v15/Server/sqlite3/storage.ide-shm
.vs/ECommerce/v15/Server/sqlite3/storage.ide-wal
*.ide
.vs/ECommerce/v15/.suo
.vs/ECommerce/v15/Server/sqlite3/storage.ide-shm
.vs/ECommerce/v15/Server/sqlite3/storage.ide-wal
ECommerce.Web/obj/Debug/ECommerce.Web.csproj.CoreCompileInputs.cache
ECommerce.Web/obj/Debug/ECommerce.Web.csprojAssemblyReference.cache
